.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board {
  border: 3px solid black;
}

.game-cell {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 100px;
}

button {
  margin: 10px;
}
